* {
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.app {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 100%;
  grid-template-areas:
    "nav nav nav"
    "left middle right";
}

.nav {
  grid-area: nav;
}
.left {
  grid-area: left;
}
.middle {
  grid-area: middle;
}
.right {
  grid-area: right;
}

img {
  height: 100%;
  width: 100%;
}
